<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/normalize.css" rel="stylesheet" />
    <link href="~/css/Style.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
   
     
</head>
<body>

    <div class="container">
        <div class="navbar">
            <div class="navbar-brand">
                <img src="~/Image/Logo.png" alt="Brand logo" width="100"  asp-append-version="true"/>
            </div>
                <ul>
                    <li>
                        <button class="btn btn-outline btn-primary mr">
                                            <a asp-controller="Persons" asp-action="Index">Persons</a>
                        </button>

                    </li>
                    <li>
                        <button class="btn btn-outline btn-primary mr">
                                           <a asp-controller="Persons" asp-action="Create">Create Person</a>  
                        </button>
                    </li>
                    <li>
                        <button class="btn btn-outline btn-primary mr">
                        <a asp-controller="Countries" asp-action="UploadFromExcel">Upload Countries</a>
                        </button>
                    </li>
                    <li>
                        <input type="checkbox" value="synthwave" class="toggle theme-controller mr" />
                    </li>
                </ul>
        </div>
    </div>

    <div class="page-Content">
        @RenderBody()
    </div>

    
    @RenderSection("scripts", required: false)
</body>
</html>
