<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/normalize.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/fontawesome.min.css" integrity="sha512-M5Kq4YVQrjg5c2wsZSn27Dkfm/2ALfxmun0vUE3mPiJyK53hQBHYCVAtvMYEC7ZXmYLg8DVG4tF8gD27WmDbsg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
   
     
</head>
<body>

    <div class="container">
        <div class="navbar">
            <div class="navbar-brand">CRUD Demo</div>
                <ul>
                    <li>
                        <button class="btn btn-outline btn-primary">
                                           <a href="~/persons/index">Persons</a>  
                        </button>

                    </li>
                </ul>
            <input type="checkbox" value="synthwave" class="toggle theme-controller" />
        </div>
    </div>

    <div class="page-Content">
        @RenderBody()
    </div>

    

</body>
</html>
